.carrusel {
    width: 400px !important;
  }
  
  .publicaciones {
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .carousel-blog {
    width: 650px !important;
    margin-top: 3rem;
  }
.titulo-conversaciones { 
    margin-top: 2rem;
}
.parrafo-autogestion { 
  font-style: italic;
}