.parrafo-sobre {
    padding: 1rem;
  }
  
  .titulo-sobre {
    padding: 1rem;
    font-weight: 700;
  }
  
  .titulo-img {
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url(../img/pexels-shvets-production-7191994.jpg);
    padding: 3.3rem;
    background-repeat: no-repeat;
    height: 220px;
    background-size: cover;
  }
  .origen { 
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .fundadora { 
    margin-top: 1rem;
    font-weight: 600px;
    margin-bottom: 1rem;
  }
